@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

header {
    .header-upperside {
        border-bottom: 1px solid #D9D9D9;
        padding: 14px 0;

        .header-info {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .logo-container {
                width: calc(95% / 3);

                img {
                    display: none;
                }

                h1 {
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                    font-weight: 700;
                    color: black;
                }
            }

            .pages-container {
                width: calc(95% / 3);
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    list-style-type: none;
                    gap: 10px;

                    li {
                        color: black;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        font-weight: 500;
                    }
                }
            }

            .language-container {
                width: calc(95% / 3);
                display: flex;
                justify-content: flex-end;

                h3 {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: 700;
                }

                i {
                    display: none;
                }
            }
        }
    }

    .header-belowside {
        padding: 24px 0;
        border-bottom: 1px solid #D9D9D9;

        .header-functionalities {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .catalog-container {
                display: flex;
                gap: 10px;
                cursor: pointer;

                .catalog-icon {

                    .catalog-icon-upperside {
                        display: flex;
                        gap: 4px;
                    }

                    .catalog-icon-belowside {
                        display: flex;
                        gap: 4px;
                        margin-top: 4px;
                    }

                    .square {
                        width: 13px;
                        height: 13px;
                        border: 3px solid black;
                    }

                    .circle {
                        width: 13px;
                        height: 13px;
                        border: 3px solid black;
                        border-radius: 50%;
                    }

                    .iconClickCatalog {
                        background-color: black;
                    }
                }

                h3 {
                    font-weight: 700;
                }
            }

            .input-container {
                width: 730px;
                position: relative;

                .uygundatalar{
                    position: absolute;

                   .searchList{
                    background-color: #d9d9d9;
                    color: blue;
                   }
                    
                }

                img {
                    position: absolute;
                    margin-top: 14px;
                    right: 0;
                    margin-right: 20px;
                }

                input {
                    width: 100%;
                    border-radius: 9999px;
                    height: 48px;
                    padding-left: 20px;
                    border: 2px solid #D9D9D9;
                    font-family: inherit;
                    font-weight: 500;

                    &::placeholder {
                        color: #D9D9D9;
                    }

                    // &:active{
                    //     border: 2px solid #D9D9D9;
                    // }

                    // &:focus{
                    //     border: 2px solid #D9D9D9;
                    // }
                }
            }

            .shoppingcart-container {
                cursor: pointer;
                position: relative;

                .count-box {
                    position: absolute;
                    height: 1.5rem;
                    width: 1.5rem;
                    border-radius: 9999px;
                    background-color: #FFDCDC;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    right: 0;
                    margin-right: -10px;
                    margin-top: -6px;
                }
            }
        }
    }
}

.oneimage-section {
    padding: 30px 0;

    .oneimage-container {
        border-radius: 40px;
        height: 710px;
        background-image: url("../images/hero-image.png");
        background-size: cover;
        background-position: center;

        .oneimage-features {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 32px 0 32px 32px;
            width: 430px;
            height: 100%;

            .bi-img {
                width: 32px;
                height: 35px;
            }

            .oneimage-info {
                p {
                    font-weight: 500;
                }

                .oneimage-buttonbox {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2rem;

                    .lookbook-button {
                        width: 180px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 9999px;
                        border: 3px solid black;
                        color: black;
                        transition: 300ms ease;

                        span {
                            font-weight: 700;
                        }

                        &:hover {
                            background-color: black;
                            color: #FFF;
                        }
                    }

                    .magaza-button {
                        width: 200px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 9999px;
                        background-color: black;
                        color: #FFF;
                        transition: 300ms ease;

                        span {
                            font-weight: 700;
                        }

                        .rightnav-img {
                            color: white;
                            margin-top: 3px;
                            margin-left: 5px;
                        }

                        &:hover {
                            color: black;
                            background-color: #FFDCDC;

                            .rightnav-img {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.imginfo-section {
    .imginfo-container {
        height: 660px;
        display: flex;
        gap: 20px;

        .imginfo-firstside {
            width: 570px;
            height: 100%;
            border-radius: 12px;
            background-size: cover;
            background-position: center;
            background-image: url("../images/fall-release.png");
            color: #FFF;

            h3 {
                font-size: 36px;
                font-weight: 700;
                margin-top: 100%;
                margin-left: 5%;
            }

            p {
                margin-left: 5%;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .imginfo-secondside {
            display: flex;
            width: 870px;
            height: 100%;
            gap: 20px;

            .imginfo-middleside {
                width: 425px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .middleside-upper {
                    height: 450px;
                    width: 100%;
                    background-image: url("../images/fall-release.png");
                    background-size: cover;
                    background-position: center;
                    border-radius: 12px;
                    color: #FFF;

                    h3 {
                        font-size: 36px;
                        font-weight: 700;
                        margin-top: 72%;
                        margin-left: 5%;
                    }

                    p {
                        margin-left: 5%;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }

                .middleside-below {
                    height: 190px;
                    width: 100%;
                    background-color: black;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;

                    p {
                        font-size: 36px;
                        width: 360px;
                        font-weight: 500;

                        span {
                            text-decoration: underline;
                            font-weight: 600;
                        }
                    }
                }
            }

            .imginfo-lastside {
                width: 425px;
                height: 100%;
                background-image: url("../images/mens-top.png");
                background-size: cover;
                background-position: center;
                border-radius: 12px;
                color: #FFF;

                h3 {
                    font-size: 36px;
                    font-weight: 700;
                    margin-top: 125%;
                    margin-left: 5%;
                }

                p {
                    margin-left: 5%;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}

.sitefeature-section {
    padding-top: 30px;
    padding-bottom: 20px;

    .sitefeature-container {
        height: 530px;
        background-color: #FFDCDC;
        border-radius: 12px;
        padding: 2rem;

        .site-features {
            display: flex;
            width: 100%;
            justify-content: space-between;

            h3 {
                font-size: 2.25rem;
                line-height: 2.5rem;
                font-weight: 700;
            }
        }

        .sitefeature-info {
            width: 100%;
            margin: 90px auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                font-weight: 700;
                font-size: 3rem;
            }

            .input-container {
                width: 620px;
                position: relative;
                margin-top: 2rem;

                input {
                    width: 100%;
                    padding-left: 20px;
                    height: 3rem;
                    border-radius: 9999px;
                    background-color: transparent;
                    border: 2px solid black;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: inherit;
                }

                .input-icon-box {
                    right: 0;
                    top: 0;
                    margin-top: 4px;
                    margin-right: 4px;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background-color: black;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: white;
                    }
                }
            }

            p {
                margin-top: 1rem;
                font-weight: 500;
            }
        }
    }
}

footer {
    .footer-upperside {
        padding: 32px 0;
        border-top: 1px solid #D9D9D9;

        .container {
            display: flex;
            justify-content: space-between;

            h3 {
                font-size: 18px;
            }

            ul {
                list-style-type: none;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    font-weight: 500;
                }
            }
        }
    }

    .footer-belowside {
        padding: 12px 0;
        border-top: 1px solid #D9D9D9;

        .container {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: 500;
                font-size: 12px;

                a {
                    padding: 4px 8px;
                    background-color: #FFDCDC;
                    border-radius: 9999px;
                }
            }
        }
    }
}

.catalog-dropdown {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 256px;
    position: absolute;
    margin-left: 2.5%;
    background-color: #FFF;
    border-radius: 10px;
    cursor: pointer;

    .catalogtype {
        display: flex;
        padding: 12px 16px;
        justify-content: space-between;
        transition: 100ms;
        align-items: center;

        &:hover {
            i {
                color: black;
            }

            background-color: #D9D9D9;

            .catalog-dropdown {
                border: 0px;
            }
        }

        i {
            width: 20px;
            height: 20px;
            color: #D9D9D9;
            margin-top: 2.5%;
            transition: 150ms ease-in;
        }

        .catalogtype-left {
            width: 70%;
            display: flex;

            span {
                margin-left: 8px;
                font-weight: 500;
            }

            .dropimg-box {
                width: 64px;
                height: 25px;

                img {
                    width: 64px;
                    height: 100%;
                }

            }
        }

        .catalogtype-drop {
            list-style-type: none;
            position: absolute;
            margin-left: calc(94% - 1px);
            background-color: #FFF;
            width: 256px;
            border: 1px solid #D9D9D9;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            overflow: hidden;
            display: none;

            li {
                font-weight: 500;
                height: 47px;
                display: flex;
                align-items: center;
                padding-left: 10%;


                &:hover {
                    background-color: #D9D9D9;
                }
            }
        }

        .canta-drop {
            margin-top: 95px;
        }

        .geyim-drop {
            margin-top: 48px;
        }
    }

    .ayaqqabi {
        &:hover {
            .ayaqqabi-drop {
                display: block;
            }
        }
    }

    .canta {
        &:hover {
            .canta-drop {
                display: block;
            }
        }
    }

    .geyim {
        &:hover {
            .geyim-drop {
                display: block;
            }
        }
    }

    .aksesuar {
        &:hover {
            .aksesuar-drop {
                display: block;
            }
        }
    }

    .parfumeriya {
        &:hover {
            .parfumeriya-drop {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {


    header {
        .header-upperside {
            .container {
                .header-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .logo-container {
                        width: 15%;

                        h1 {
                            display: none;
                        }

                        img {
                            display: block !important;
                        }

                    }

                    .pages-container {
                        width: 60%;

                        ul {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                        }
                    }

                    .language-container {
                        width: 15%;
                    }
                }
            }
        }

        .header-belowside {
            .container {
                .header-functionalities {
                    .input-container {
                        width: 75%;
                    }
                }
            }
        }
    }

    .imginfo-section {
        height: auto;

        .imginfo-container {
            height: auto;
            display: flex;

            .imginfo-firstside {
                width: 40%;
                height: 600px !important;
                width: auto;

                h3 {
                    margin-top: 450px;
                }

                
            }

            .imginfo-secondside {
                width: 60%;
                height: auto;
                display: flex;
                gap: 10px;

                .imginfo-middleside {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .middleside-upper {
                        height: 35%;
                        width: auto;

                        h3 {
                            margin: 0 !important;
                        }

                    }

                    .middleside-below {
                        height: 60%;
                        width: auto;


                    }
                }

                .imginfo-lastside {
                    height: auto;

                    h3 {
                        margin-top: 370px;
                    }

                    
                }
            }
        }
    }

    .sitefeature-section {
        .sitefeature-container {

            .sitefeature-info {
                span {
                    width: 80%;
                }

                .input-container {
                    width: 50%;
                }
            }

        }
    }



}

@media only screen and (max-width: 768px) {


    header {
        .header-upperside {
            .container {
                .header-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .logo-container {
                        width: 15%;

                        h1 {
                            display: none;
                        }

                        img {
                            display: block !important;
                        }

                    }

                    // .pages-container {
                    //     display: none;
                    // }

                    .language-container {
                        width: 15%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        i {
                            display: block;
                        }
                    }
                }
            }
        }

        .header-belowside {
            .container {
                .header-functionalities {
                    .input-container {
                        width: 75%;
                    }

                    .catalog-container{
                        .catalogDisplay{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .imginfo-section {
        .imginfo-container {
            width: 80%;
            display: flex;
            flex-direction: column;

            .imginfo-firstside {
                width: 100%;
                height: 630px !important;
                width: auto;
            }

            .imginfo-secondside {
                width: 100%;
                height: 450px !important;
                display: flex;

                .imginfo-middleside {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .middleside-upper {
                        height: 60%;
                        width: auto;

                        h3 {
                            font-size: 27px;
                            margin-top: 55% !important;
                        }

                    }

                    .middleside-below {
                        height: 30%;
                        width: auto;

                        p {
                            width: 80%;
                            font-size: 20px;
                        }
                    }
                }

                .imginfo-lastside {
                    height: auto;

                    h3 {
                        margin-top: 85%;
                    }
                }
            }
        }
    }

    .oneimage-section {
        .oneimage-container {
            .oneimage-features {
                width: auto;

                .oneimage-info {
                    .oneimage-buttonbox {
                        justify-content: space-evenly;

                        .lookbook-button {
                            width: 150px;
                        }

                        .magaza-button {
                            width: 150px;

                        }
                    }
                }
            }
        }
    }

    .sitefeature-section {
        height: auto;

        .sitefeature-container {
            height: auto;

            .site-features {

                h3 {
                    font-size: 20px;
                }
            }

            .sitefeature-info {
                span {
                    width: 80%;
                }

                .input-container {
                    width: 90%;
                }
            }

        }
    }

    footer {
        .footer-upperside {
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 80vh;
                .con {
                    h3 {
                        text-align: center;
                    }

                    width: 40%;

                    ul {
                        text-align: center;
                    }
                }
            }
        }
    }

    // .catalog-dropdown{
    //     height: 100vh;
    //     width: 80%;
    //     background-color: #fff;
    //     margin-left: 0;

    // }
}

@media only screen and (max-width: 435px) {
    .oneimage-section {
        .oneimage-container {
            height: 450px;
            .oneimage-features {
                .oneimage-info {
                    .oneimage-buttonbox {
                        .lookbook-button {
                            width: 120px;
                            span{
                                font-size: 12px;
                            }
                        }

                        .magaza-button {
                            width: 120px;
                            span{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .sitefeature-section {

        .sitefeature-container {

            .site-features {

                h3 {
                    font-size: 18px;
                }
            }

            .sitefeature-info {
                span {
                    width: 100%;
                }

                
                   
                
            }

        }
    }


    .imginfo-section {
        .imginfo-container {
            

            .imginfo-firstside {
              height: 350px !important;
            }

            .imginfo-secondside {
              height: 350px !important;

                .imginfo-middleside {
                    

                    .middleside-upper {
                       

                        height: 45%;
                    }

                    .middleside-below {
                       height: 50%;
                    }
                }

            }
        }
    }

}